md-sidenav  {
  width: 150px;
  padding:20px;
  background-color: #F8F8F8;
}

md-content {
  background-color : #fff;
}

.btn1 {
	padding: 0 100px 0 0;
	margin: 0 0 0 0;
}

md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 13vw !important;
    max-width: 400px !important;
}
